@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem; /* 96px - height of navbar */
  }

  body {
    @apply bg-background text-textDim font-sans antialiased;
    background-image:
      linear-gradient(rgba(100, 255, 218, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(100, 255, 218, 0.03) 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: -1px -1px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-textLight font-bold;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded;
  background-color: #495670;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
